<nav class="navbar navbar-fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid p-3">
        <span class="navbar-brand mb-0 h1">Agile Team 2</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto text-center">
            <li class="nav-item active">
            <a class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="authors.html">Authors</a>
            </li>
        </ul>
        </div>
    </div>
  </nav>