header {
    margin-bottom: 5vh;
}

.navigation {
    margin-bottom: 5vh;
}

.navbar-nav > li {
    padding: 0 3em 0 1em;
}

.navbar-brand {
    padding-left: 6vh;
}

#homeLink
{
    display:inline;
    border-top-style:solid;
    border-width:medium;
    border-color:transparent;
    padding-top:16px;
}

#homeLink:hover
{
    border-color:white;
}

nav > a > div
{
    display:inline;
}

nav > a > div:hover
{
    border-top-style:solid;
    border-width:medium;
    border-color:white;
    padding-top:16px;
}

.card{
    margin-bottom: 5vh;
}