header {
    margin-bottom: 5vh;
}

.navigation {
    margin-bottom: 5vh;
}

.navbar-nav > li {
    padding: 0 3em 0 1em;
}

.navbar-brand {
    padding-left: 6vh;
}

#homeLink
{
    display:inline;
    border-top-style:solid;
    border-width:medium;
    border-color:transparent;
    padding-top:16px;
}

#homeLink:hover
{
    border-color:white;
}

nav > a > div
{
    display:inline;
}

nav > a > div:hover
{
    border-top-style:solid;
    border-width:medium;
    border-color:white;
    padding-top:16px;
}

.card{
    margin-bottom: 5vh;
}

.blog-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#nameDate {
    /* Change the width amount based on your personal preference to ensure that the name and date are on seperate lines. You can keep as a percentage or change to another system. */
    width:20%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

#blogContent {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

#referenceList{
    text-align: left;
    padding-bottom: 10px;
    width:50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

h6{
    width: 100%;
}

.author-profile-pic {
    width: 150px;
    height: auto;
}

#charter-example-pic, #consequences-reworking-pic, .blog-images {
    width: 90%;
    height: auto;
}

.image-caption {
    font-size: 10px;
    color: grey;
}