nav
{
    border-top-style:solid;
    border-bottom-style:solid;
    border-width: thin;
    margin-left:8%;
    margin-right:8%;
}

nav > a 
{
    padding-right:100px;
    font-weight: bold;
    color:black;
    text-decoration:none;
}


#homeLink
{
    display:inline;
    border-top-style:solid;
    border-width:medium;
    border-color:transparent;
    padding-top:16px;
}

#homeLink:hover
{
    border-color:white;
}

nav > a > div
{
    display:inline;
}

nav > a > div:hover
{
    border-top-style:solid;
    border-width:medium;
    border-color:white;
    padding-top:16px;
}

h3
{
    max-height:5%;
    font-size:32px;
    font-weight:normal;
    text-align:center;
}

#authors{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.card{
    margin: 3em;
}